/* Usecase 6: Create header */
.logo-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    margin-left: 5%;
    padding: 15px;
}

.header-text
{
    display: flex;
    flex-direction: column;
    font: normal normal bold 22px/25px Montserrat;
    text-transform: uppercase;
    margin-left: 3%;
}
.header-text span:nth-child(2)
{
    color: #42515F;
}
.header-text span:nth-child(1)
{
    color: #008CFF;
}
body
{
    margin: 0;
}

/* Usecase 2: Add button and form title */
.main-content{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}
.inner-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}
.emp-detail-text{
    font-style: normal;
    font-variant: normal;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 28px;
    line-height: 25px;
    color: #42515F;
    margin-left: 10px;
}

.add-button{
    font: normal normal normal 22px/29px Roboto;
    background: #008CFF;
    border:none;
    border-radius: 5px;
    padding:5px 18px;
    outline: none;
    text-decoration: none;
    margin-right: 10px;
    color: white;
    display: flex;
    justify-content: center;
}

/*Usecase 3: Ability to view Employee Payroll details in a Tabular Format.*/
.table-main{
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}
.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
    min-width: 800px;

}
td,th{
    text-align: left;
    padding:8px 8px;
    padding-left: 20px;
}

th{
    font-style: normal;
    font-variant: normal;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #658292;
    text-transform: capitalize;
}

tr{

    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
td{
    font-style: normal;
    font-variant: normal;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #3D3D3D;
    background: #ffffff;
}

td img{
    cursor: pointer;
    margin-right: 6px;
}